h1 {
  color: indigo;

  background-image: url("https://toyojp-my.sharepoint.com/:i:/g/personal/s1f102502047_toyo_jp/EUr1KSrcSp1HhwnuOdgbuk0BjHxpk2_s0Hvsq28WA2uN1Q?e=TgiSmf");
  background-repeat: no-repeat;       
  background-position: center center; 
  background-size: contain;    
  padding: 40px;                   
}