body {
  background-image: url('../画像/パラグライダー２.png');
  background-size: cover;           
  background-position: center;     
  background-repeat: no-repeat;    
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
}

h2{
  color: #ffffff
  

}
